.card-link{

    text-decoration: none;
}
.Add_Routes{
transition-duration: 0.3s;

}
.Add_Routes :hover{
   transform: scale(1.1);
    
    }
    .card{

        padding-top: 20px;
        
        }
        .card li::marker{
        
        color:rgb(77, 160, 219) ;
        
        
        }
        .card-title{
        
            color:rgb(98, 101, 101);
        }

       